html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebecf0;
  background: linear-gradient(135deg, #ebecf0, rgb(225, 227, 235));
  font-family: "Dosis", Helvetica, Verdana, sans-serif;
}

.main {
  position: relative;
  width: 950px;
  margin: 32px;
  border-radius: 32px;
  box-shadow: 12px 12px 32px #babecc,
    -10px -10px 14px rgba(255, 255, 255, 0.911);
  background-color: #ebecf0;
  -webkit-animation: main-shadow 1.6s;
  animation: main-shadow 1.6s;
}

/* HEADING */

.heading {
  position: absolute;
  top: 300px;
  left: -370px;
  margin: 0 0 24px 0;
  font-size: 124px;
  font-weight: 900;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ebecf0;
  text-shadow: -3px 10px 6px #babecc, 1px -2px 3px #fff;
  transform: rotate(-90deg);
  -webkit-animation: heading-shadow 1.6s;
  animation: heading-shadow 1.6s;
}

/* FORM & CONTAINERS */

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 42px 56px;
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 1s;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 46%;
}

/* FIELDSETS */

.title__fieldset {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
}

.basic-info__fieldset {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
}

.address__fieldset {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 12px 18px 32px 18px;
  margin-top: 42px;
  border-radius: 20px;
  box-shadow: 6px 6px 10px #babecc, -6px -6px 10px rgba(255, 255, 255, 0.8);
  border: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
}

/* VARIOUS INPUTS & TEXTAREA */

.input {
  flex-basis: 48%;
  margin-bottom: 0;
}

.input--full,
.textarea {
  flex-basis: 100%;
}

.input__content,
.textarea__content {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  border-radius: 28px;
  outline: 0;
  padding: 14px;
  margin-top: 6px;
  margin-bottom: 0px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  font-size: 15px;
  color: rgb(90, 97, 119);
  background-color: #ebecf0;
  transition: all 0.2s ease-in-out;
}

.input__content:focus,
.textarea__content:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

/* textarea */

.textarea {
  margin-top: 0;
}

.textarea__content {
  margin-top: 14px;
  resize: none;
}

/* LABELS */

.input__label,
.textarea__label,
.title__legend {
  padding-left: 0.2em;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  color: rgb(90, 97, 119);
}

.address__legend,
.basic-info__legend {
  display: none;
}

/* RADIO & CHECKBOX */

.radio__label,
.checkbox__label {
  margin-right: 10px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(90, 97, 119);
}

.radio__content,
.checkbox__content {
  position: relative;
  /* solution for centering label and text */
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background-color: #ebecf0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
    -3px -3px 6px rgba(255, 255, 255, 1), inset 0 0 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 rgba(255, 255, 255, 0.2);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio__content:hover,
.checkbox__content:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    -1px -1px 2px rgba(255, 255, 255, 1), inset 0 0 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 rgba(255, 255, 255, 0.2);
}

.radio__content:checked,
.checkbox__content:checked {
  background-color: #686de0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(255, 255, 255, 0.2),
    inset 3px 3px 6px rgba(0, 0, 0, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.2);
}

/* radio */

.radio {
  margin: 12px 0 4px 0;
}

.radio__content {
  border-radius: 50%;
}

.radio__content::before {
  position: absolute;
  top: 6px;
  left: 6px;
  /* circle fom Font Awesome */
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-size: 8px;
  line-height: 8px;
  font-weight: bold;
  color: #ebecf0;
}

/* checkbox */

.checkbox {
  margin: 24px 0 4px 5px;
}

.checkbox__label {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
}

.checkbox__content {
  border-radius: 20%;
  padding-left: 0;
  margin-left: 0;
}

.checkbox__content::before {
  position: absolute;
  top: 4px;
  left: 4px;
  /* check from Font Awesome */
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  color: #ebecf0;
}

/* SUBMIT */

.submit {
  cursor: pointer;
  border: 0;
  outline: 0;
  min-height: 64px;
  margin-top: 32px;
  border-radius: 28px;
  font-size: 32px;
  line-height: 56px;
  font-weight: 900;
  letter-spacing: 0.08em;
  color: #585eb8;
  background-color: #ebecf0;
  background: linear-gradient(155deg, #ebecf0, rgb(231, 233, 243));
  box-shadow: -5px -5px 20px #fff, 5px 5px 16px #babecc;
  transition: all 0.2s ease-in-out;
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 1.8s;
}

.submit:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.submit:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes heading-shadow {
  0% {
    display: none;
    -webkit-text-shadow: 0 0 0 #babecc, 0 0 0 #fff;
    text-shadow: 0 0 0 #babecc, 0 0 0 #fff;
  }
  10% {
    display: visible;
    -webkit-text-shadow: -1px 1px 1px #babecc, 0 -1px 1px #fff;
    text-shadow: -1px 1px 1px #babecc, 0 -1px 1px #fff;
  }
  30% {
    display: visible;
    -webkit-text-shadow: -1px 3px 2px #babecc, 0 -1px 1px #fff;
    text-shadow: -1px 3px 2px #babecc, 0 -1px 1px #fff;
  }
  40% {
    display: visible;
    -webkit-text-shadow: -2px 4px 3px #babecc, 0 -1px 1px #fff;
    text-shadow: -2px 4px 3px #babecc, 0 -1px 1px #fff;
  }
  50% {
    display: visible;
    -webkit-text-shadow: -2px 5px 4px #babecc, 0 -1px 2px #fff;
    text-shadow: -2px 5px 4px #babecc, 0 -1px 2px #fff;
  }
  60% {
    display: visible;
    -webkit-text-shadow: -2px 6px 4px #babecc, 0 -1px 2px #fff;
    text-shadow: -2px 6px 4px #babecc, 0 -1px 2px #fff;
  }
  70% {
    display: visible;
    -webkit-text-shadow: -2px 7px 5px #babecc, 0 -1px 2px #fff;
    text-shadow: -2px 7px 5px #babecc, 0 -1px 2px #fff;
  }
  80% {
    display: visible;
    -webkit-text-shadow: -3px 8px 5px #babecc, 1px -2px 3px #fff;
    text-shadow: -3px 8px 5px #babecc, 1px -2px 3px #fff;
  }
  90% {
    display: visible;
    -webkit-text-shadow: -3px 9px 6px #babecc, 1px -2px 3px #fff;
    text-shadow: -3px 9px 6px #babecc, 1px -2px 3px #fff;
  }
  100% {
    display: visible;
    -webkit-text-shadow: -3px 10px 6px #babecc, 1px -2px 3px #fff;
    text-shadow: -3px 10px 6px #babecc, 1px -2px 3px #fff;
  }
}

@keyframes main-shadow {
  0% {
    -webkit-box-shadow: 0 0 0 #babecc, 0 0 0 rgba(255, 255, 255, 0.911);
    box-shadow: 0 0 0 #babecc, 0 0 0 rgba(255, 255, 255, 0.911);
  }
  10% {
    -webkit-box-shadow: 2px 2px 4px #babecc,
      -1px -1px 1px rgba(255, 255, 255, 0.911);
    box-shadow: 2px 2px 4px #babecc, -1px -1px 1px rgba(255, 255, 255, 0.911);
  }
  30% {
    -webkit-box-shadow: 4px 4px 8px #babecc,
      -2px -2px 2px rgba(255, 255, 255, 0.911);
    box-shadow: 4px 4px 8px #babecc, -2px -2px 2px rgba(255, 255, 255, 0.911);
  }
  40% {
    -webkit-box-shadow: 6px 6px 12px #babecc,
      -3px -3px 3px rgba(255, 255, 255, 0.911);
    box-shadow: 6px 6px 12px #babecc, -3px -3px 3px rgba(255, 255, 255, 0.911);
  }
  50% {
    -webkit-box-shadow: 7px 7px 16px #babecc,
      -5px -5px 5px rgba(255, 255, 255, 0.911);
    box-shadow: 7px 7px 16px #babecc, -5px -5px 5px rgba(255, 255, 255, 0.911);
  }
  60% {
    -webkit-box-shadow: 8px 8px 20px #babecc,
      -6px -6px 6px rgba(255, 255, 255, 0.911);
    box-shadow: 8px 8px 20px #babecc, -6px -6px 6px rgba(255, 255, 255, 0.911);
  }
  70% {
    -webkit-box-shadow: 9px 9px 24px #babecc,
      -7px -7px 7px rgba(255, 255, 255, 0.911);
    box-shadow: 9px 9px 24px #babecc, -7px -7px 7px rgba(255, 255, 255, 0.911);
  }
  80% {
    -webkit-box-shadow: 10px 10px 24px #babecc,
      -8px -8px 8px rgba(255, 255, 255, 0.911);
    box-shadow: 10px 10px 28px #babecc, -8px -8px 8px rgba(255, 255, 255, 0.911);
  }
  90% {
    -webkit-box-shadow: 11px 11px 30px #babecc,
      -9px -9px 9px rgba(255, 255, 255, 0.911);
    box-shadow: 11px 11px 30px #babecc, -9px -9px 9px rgba(255, 255, 255, 0.911);
  }
  100% {
    -webkit-box-shadow: 12px 12px 32px #babecc,
      -10px -10px 10px rgba(255, 255, 255, 0.911);
    box-shadow: 12px 12px 32px #babecc,
      -10px -10px 10px rgba(255, 255, 255, 0.911);
  }
}

@media screen and (max-width: 1220px) {
  body {
    height: 100vh;
    justify-content: flex-end;
    /* align-items: flex-start; */
  }

  .main {
    width: 800px;
  }

  .form {
    padding: 48px;
  }
}

@media screen and (max-height: 800px) {
  body {
    align-items: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  body {
    justify-content: flex-start;
  }

  .main {
    width: 900px;
    margin: 32px;
    margin-top: 200px;
  }

  .heading {
    position: absolute;
    top: -160px;
    left: 0px;
    margin: 16px 0 0 0;
    font-size: 116px;
    text-shadow: 6px 4px 6px #babecc, -1px -2px 3px #fff;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 800px) {
  body {
    align-items: flex-start;
  }

  .main {
    width: 100%;
    margin-top: 16px;
  }

  .heading {
    position: static;
    margin: 48px 0 0 48px;
    font-size: 90px;
    text-shadow: 6px 4px 6px #babecc, -1px -2px 3px #fff;
    transform: rotate(0deg);
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 48px;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .textarea {
    margin-top: 32px;
  }
}

@media screen and (max-width: 540px) {
  .main {
    margin: 16px;
  }

  .heading {
    margin: 36px 0 0 36px;
    font-size: 72px;
    text-shadow: 6px 4px 6px #babecc, -1px -2px 3px #fff;
    transform: rotate(0deg);
  }

  .form {
    padding: 36px;
  }

  .input {
    flex-basis: 100%;
    margin-bottom: 0;
  }

  .input__content,
  .textarea__content {
    border-radius: 24px;
    outline: 0;
    padding: 12px;
    margin-top: 4px;
  }

  .checkbox__label {
    font-size: 12px;
    line-height: 10px;
    font-weight: 300;
  }
}

@media screen and (max-width: 400px) {
  .main {
    margin: 0px;
    border-radius: 0;
  }

  .heading {
    margin: 24px 0 0 24px;
    font-size: 64px;
  }

  .form {
    padding: 24px;
  }

  .input__content,
  .textarea__content {
    border-radius: 24px;
    outline: 0;
    padding: 12px;
    margin-top: 4px;
  }

  .checkbox__label {
    font-size: 12px;
    line-height: 10px;
    font-weight: 300;
  }
}

@media screen and (max-width: 320px) {
  .heading {
    margin: 16px 0 0 16px;
    font-size: 48px;
  }

  .form {
    padding: 16px;
  }
}
