html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f1f1;
  font-family: "Dosis", Helvetica, sans-serif;
  font-size: 16px;
}

.main {
  position: relative;
  height: 80vh;
  width: 900px;
  margin: 16px;
  padding: 32px;
  border-radius: 32px;
  box-shadow: 12px 12px 32px #d6d2cdb9, -9px -9px 24px rgba(255, 255, 255, 0.8);
}

.heading {
  position: absolute;
  top: 70px;
  left: -260px;
  margin: 0 0 24px 0;
  font-size: 136px;
  font-weight: 900;
  letter-spacing: 0.2px;
  text-align: left;
  color: #f2f1f1;
  text-shadow: -3px 10px 6px #d4d2d0, 1px -2px 3px #fff;
  transform: rotate(-90deg);
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.form__wrapper {
  flex-basis: 49%;
  margin-bottom: 16px;
}

.form__wrapper--full {
  flex-basis: 100%;
}

.form__label {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #f2f1f1;
  text-shadow: 1px 3px 3px #a09d9b, -1px -2px 1px #fff;
}

.form__input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  border-radius: 24px;
  outline: 0;
  padding: 12px;
  margin-right: 32px;
  margin-top: 4px;
  box-shadow: inset 2px 2px 5px #d6d2cd, inset -5px -5px 10px #fff;
  text-shadow: 1px 1px 0 #fff;
  font-size: 16px;
  background-color: #f2f1f1;
  transition: all 0.2s ease-in-out;
}

input:focus {
  box-shadow: inset 1px 1px 2px #d6d2cd, inset -1px -1px 2px #fff;
}

button {
  font-size: 16px;
  border-radius: 24px;
  padding: 12px;
  margin-top: 4px;
  background-color: #f2f1f1;
  text-shadow: 1px 1px 0 #fff;
  border: 0;
  outline: 0;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
}

button:active {
  box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
}

/*

.icon {
  margin-right: $ruler/2;
}

button.unit {
  border-radius: $ruler/2;
  line-height: 0;
  width: $ruler * 3;
  height: $ruler * 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 $ruler/2;
  font-size: $ruler * 1.2;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-group label {
  margin: 0;
  flex: 1;
} */
